  <div class="dropdown align-text-top">
    <i class="material-symbols-outlined" style="cursor: pointer;" (click)="toggleMenu()">
      menu
    </i>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-items">
      <span class="dropdown-item d-flex">
        <span class="material-symbols-outlined mx-1">
        verified
        </span>Close</span>
      <span class="dropdown-item d-flex "><span class="material-symbols-outlined mx-1">
        published_with_changes
        </span>Reopen</span>
      <span class="dropdown-item d-flex"><span class="material-symbols-outlined mx-1">
        done
        </span>Done</span>
      <span class="dropdown-item d-flex"><span class="material-symbols-outlined mx-1">
        edit_square
        </span>Edit</span>
      <span class="dropdown-item d-flex"><span class="material-symbols-outlined mx-1">
        delete_forever
        </span>Delete</span>
    </div>
  </div>
<div class="card mt-2">
  <div class="card-body">
    <div id="carouselExampleIndicators" class="carousel slide" style="height: 200px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="height: 200px;overflow: auto;">
        <div class="carousel-item active" *ngFor="let file of taskFiles">
          <img [src]="file.links[0].href" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="card mt-2">
  <div class="card-body">
    <div class="row align-items-start">
      <label class="col"><b>Name :</b> {{taskDetails?.name}}</label><br />
      <label class="col"><b>Number :</b> {{taskDetails?.number}}</label><br />
    </div>
    <label class="col"><b>Description :</b> {{taskDetails?.description}}</label><br />
  </div>
</div>
<div class="card mt-2">
  <div class="card-body">
    <div class="row align-items-start">
      <label class="col"><b>Facility :</b> {{taskDetails?.facility?.name}}</label><br />
      <label class="col"><b>Asset :</b> {{taskDetails?.asset?.name}}</label><br />
    </div>
    <!-- <label class="col"><b>Asset Location :</b> {{taskDetails?.name}}</label><br /> -->
  </div>
</div>
<div class="card mt-2">
  <div class="card-body">
    <label class="col"><b>Assigned To :</b></label><br />
    <div class="row align-items-start">
      <label class="col"><b>User(s) :</b></label><br />
      <ol class="mx-3">
        <li *ngFor="let user of taskDetails.assignedTo.users">{{user.name}}</li>
      </ol>
      <label class="col"><b>Team(s) :</b></label><br />
      <ol class="mx-3">
        <li *ngFor="let team of taskDetails.assignedTo.teams">{{team.name}}</li>
      </ol>
    </div>
  </div>
</div>
<div class="card mt-2">
  <div class="card-body">
    <div class="row align-items-start">
      <label class="col"><b>Assigned By :</b> {{taskDetails?.assignedBy?.name}}</label><br />
      <label class="col"><b>Assigned On :</b> {{taskDetails?.assignedOn | date:'dd/MM/yyyy'}}</label><br />
    </div>
  </div>
</div>
<div class="card mt-2">
  <div class="card-body">
    <div class="row align-items-start">
      <label class="col"><b>Status :</b> {{taskDetails?.status}}</label><br />
      <label class="col"><b>Priority :</b> {{taskDetails?.priority?.name}}</label><br />
    </div>
    <div class="row align-items-start">
      <label class="col"><b>Type :</b> {{taskDetails?.type?.name}}</label><br />
      <label class="col"><b>Due Date :</b> {{taskDetails?.dueDate | date:'dd/MM/yyyy'}}</label><br />
    </div>
  </div>
</div>
<button type="button" class="btn btn-info mt-2" (click)="navigateBack()">Back</button>
<button type="button" class="btn btn-info mt-2 mx-2" (click)="navigateToEdit()">Edit</button>