<div >
  <div class="mb-3">
    <label class="form-label">Task Name</label>
    <input type="text" class="form-control" [(ngModel)]="taskDetails.name">
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" [(ngModel)]="taskDetails.description"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Facility</label>
    <select class="form-select form-select-lg mb-3" [(ngModel)]="taskDetails.facilityId">
      <option *ngFor="let facility of facilityList" [value]="facility.id">{{facility.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Assets</label>
    <select class="form-select" size="3" [(ngModel)]="taskDetails.AssetId">
      <option *ngFor="let asset of assetList" [value]="asset.assetId">{{asset.assetName}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Assigned To</label>
    <select class="form-select" multiple size="3" [(ngModel)]="taskDetails.assignedMembers">
      <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Teams</label>
    <select class="form-select" multiple size="3" [(ngModel)]="taskDetails.assignedTeams">
      <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Priority</label>
    <select class="form-select form-select-lg mb-3" [(ngModel)]="taskDetails.priority">
      <option value=1>High</option>
  <option value=2>Medium</option>
  <option value=3>Low</option>
    </select>
  </div>
  <div class="mb-3">
    <div>
    <label class="form-label">Type</label>
    <select class="form-select form-select-lg mb-3" [(ngModel)]="taskDetails.typeId">
      <option *ngFor="let type of taskTypes" [value]="type.id">{{type.name}}</option>
    </select>
    </div>
    <div>
      <span class="material-symbols-outlined" (click)="openDialog()">
        add_box
      </span>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Due Date</label>
    <input type="date" class="form-control" [(ngModel)]="taskDetails.dueDate">
  </div>
  <div class="mb-3">
    <label class="form-label">Remainder</label>
    <select class="form-select form-select-lg mb-3" [(ngModel)]="taskDetails.remainder">
      <option *ngFor="let remainder of remainders" [value]="remainder.id">{{remainder.name}}</option>
    </select>
  </div>
 
  <button type="submit" class="btn btn-primary" (click)="saveTask()">Submit</button>
</div>